* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 50px;
}

.container {
	position: relative;
	width: calc(80% - 100px);
	min-height: calc(100vh - 280px);
	min-height: 150px;
	/*background: rgba(255, 255, 255, .05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, .05);*/
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

header {
	position: absolute;
	top: -40px;
	right: 20px;
	left: 20px;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 15px 35px rgba(0, 0, 0, .05);
	border-radius: 20px;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
	color: #8a2435;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.3em;
}

header ul {
	display: flex;
}

header ul li {
	list-style: none;
	margin: 0 10px;
}

header ul li a {
	text-decoration: none;
	font-weight: 500;
	color: #8a2435;
	padding: 8px 15px;
	border-radius: 25px;
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header ul li a:hover {
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
